.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 16px; /* space between grid items */
}

.project-card {
  text-align: center; /* center the title under the image */
}

.project-card img {
  width: 100%; /* make images responsive */
  height: auto; /* maintain aspect ratio */
}

.donate-button {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.donate-button:hover {
  background-color: #45a049; /* Darker green */
}

/* Home page CSS */

.home-section {
  margin: 5rem 0;
}

.hero {
  position: relative;
  text-align: center;
  color: white;
}

.hero-image {
  width: 100%;
  height: auto;
  display: block; /* Ensures no extra space below the image */
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  max-width: 600px; /* Limit the width for better readability */
  margin: auto;
}

.cta-button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #d32f2f;
}